/node_modules
/public/storage
/public/hot
/storage/*.key
/storage/trip_routes
/vendor
/.idea
Homestead.json
Homestead.yaml

/nbproject
.idea
/.project
/.buildpath
/.settings/
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/config.yml
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
