:root {
    --black: #000;
    --white: #fff;
    --primary: #470D54;
    --primary-dark: #E2C686;
    --primary-darker: #178a64;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Verdana', sans-serif;
}

a,
button {
    transition: 0.2s;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 38px;
}

.btn {
    font-weight: 600;
    font-size: 16px;
    padding: 10px 20px;
    text-transform: uppercase;
}

.btn-primary {
    color: var(--white);
    background: var(--primary);
    border-color: var(--primary);
}

.btn-primary:hover,
.btn-primary:focus {
    color: var(--white);
    background: var(--primary-dark);
    border-color: var(--primary-dark);
}

.btn-primary:active,
.btn-primary:active:focus {
    color: var(--white);
    background: var(--primary-darker);
    border-color: var(--primary-darker);
}

button:focus:not(:focus-visible), .accordion-button:not(.collapsed) {
            box-shadow: none;
            background: transparent;
            border-bottom: 1px solid #470D54;
            color: #470D54;
        }

.text-bold {
    font-weight: 600;
}

.section-space {
    padding: 80px 0;
}

/* Margin top */
.mt-0 {
    margin-top: 0px;
}

.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-50 {
    margin-top: 50px;
}

/* Margin bottom */

.mb-0 {
    margin-bottom: 0px;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-50 {
    margin-bottom: 50px;
}


/* Header */
.header {
    background: var(--white);
    padding: 10px 0;
    position: relative;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    max-width: 130px;
}

.navigation-content {
    display: flex;
    align-items: baseline;
    justify-content: end;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    /* margin: 0 auto; */
    padding: 0;
    list-style: none;
}

.navigation a {
    color: var(--black);
    padding: 10px 20px;
    text-decoration: none;
}

.navigation a:hover {
    color: var(--primary);
}

.nav-toggler {
    border: 0;
    padding: 0;
    background: none;
    outline: 0 !important;
    box-shadow: none !important;
    width: 26px;
    display: none;
}

.nav-toggler span {
    display: block;
    width: 100%;
    height: 2px;
    background: var(--black);
    transform: rotate(0deg);
    transform-origin: center center;
    transition: 0.2s;
}

.nav-toggler span+span {
    margin-top: 7px;
}

.nav-toggler.expanded span:first-child {
    transform: rotate(45deg);
    transform-origin: left top;
}

.nav-toggler.expanded span:last-child {
    transform: rotate(-45deg);
    transform-origin: left bottom;
}

.nav-toggler.expanded span:nth-child(2) {
    width: 0;
    opacity: 0;
}

/* Hero */
.hero-section {
    background:  url(../img/banner.png) no-repeat center / cover;
    margin: 0px 0 80px 0;
    padding: 250px 0;
    position: relative;
    z-index: 1;
overflow: hidden;
background-color: transparent;
background-attachment: fixed;
}
.hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: -1;
}

.hero-content {
    color: var(--white);
}

.hero-content .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    max-width: 65%;
    margin-left: auto;
    margin-right: auto;
}

.hero-content .buttons .btn {
    flex: 1;
    width: 100%;
    font-size: 20px;
    padding: 12px 20px;
}

/*Service*/
.services {
	margin: 0 0 80px 0;
	
}
.services img {
	transition: .5s ease-in-out;
}
.services img:hover {
	transform: scale(1.09);
	transition: .5s ease-in-out;
}

.services .service {
	overflow: hidden;
	font-size: 1.5em;
	text-align: center;
	height: 250px;
	border: 1px solid #d5d5d5;
	border-radius: 360px;
}

.services .service p {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	height: 100%;
	padding: 0 10px;
}

.services .service p::first-letter {
	font-size: 3em;
}

/* Section one */
.section-one {
    margin: 0 0 80px 0;
	
}

.img-grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
}

.img-grid .item {
    transition: 0.2s;
}

.img-grid .item:hover {
    box-shadow: 0 0 0 6px #d9b45f;
}

.img-grid img{
    display: block;
    width: 100%;
}


/* Footer */
.footer {
    background: #fafafa;
    padding: 50px 0 0 0;
}

.footer-block h5 {
    color: #743282;
    margin-top: 0;
    margin-bottom: 20px;
}

.footer-block .column-2 {
    column-count: 2;
}

.footer-block ul a {
    color: var(--primary);
    text-transform: capitalize;
    text-decoration: none;
    padding: 2px;
    display: inline-block;
}

.footer-block ul a:hover {
    color: var(--primary-dark);
}

.language-select .dropdown-toggle {
    margin-left: auto;
    border: 1px solid var(--black);
    padding: 3px;
    border-radius: 0;
}

.language-select .dropdown-toggle,
.language-select .dropdown-menu a {
    display: flex;
    align-items: center;
    gap: 3px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
}

.language-select .dropdown-toggle img,
.language-select .dropdown-menu a img{
    width: 25px;
}

.language-select .dropdown-menu{
    min-width: 70px;
    padding: 5px;
}

.footer-block .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.footer-block .flex h5{
    margin-bottom: 0;
    align-self: flex-start;
}

.footer .copyright {
    background: #f1f3f4;
    
    padding: 15px 0;
    border-top: 1px solid #e1e1e1;
}


.footer .copyright p {margin: 0;}
@media only screen and (max-width: 767px) {
	.footer .copyright {text-align: center;}
}

.social {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 0;
}

.social a{
    display: block;
    font-size: 18px;
}

.stores {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.stores a{
    display: block;
}

.stores img{
    max-width: 100%;
    height: auto;
    display: block;
}


/* about start */
.about{
  margin: 0 0 80px 0;
}

.blue-square{
    background-color: rgb(74, 74, 184);
    display: inline-block;
    margin-bottom: 10px;
    padding: 10px 20px;
    font-size: 40px;
    color: white;
}
.about-text{
    display: inline-block;
    font-size: 22px;
    margin-top: -5px;
    margin-left: 20px;
}


/*Service*/
.services {
	margin: 0 0 80px 0;

}

.services .service {
	overflow: hidden;
	font-size: 1.5em;
	text-align: center;
	height: 250px;
	border: 1px solid #d5d5d5;
	border-radius: 360px;
}

.services .service p {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	height: 100%;
	padding: 0 10px;
}

.services .service:hover {
	box-shadow: 0px 0px 12px #4D06525E;
}
.services .service:hover span {
	font-size: 3em;
}
.service span {
	font-size: 2.5em;
	display: block;
	color: #4D0652;
	height: 70px !important;
	line-height: 0;
	top: 21%;
	position: absolute;
}
.services .service {
	transition: all .1s;
}



.about-p-heading {background: #4F0954; padding: 120px 0; text-align: center;}
.about-p-heading h3{color: #fff; margin: 0 auto; line-height: 2.5rem;}

.about-img-c .bg-1 {background: transparent;}
.about-img-c .bg-2 {background: #E2AC2B; color: #fff;}
.about-img-c .bg-3 {background: #4F0954; color: #fff;}
.about-img-c .content h3 {font-weight: bold; font-size: 2em;}

/*Our Model*/

.model-title {
    background: #4f0854;
    padding: 40px 0px;
}
.model-title h1{
    color: #fff;
}
.model-text-layout1 ,.model-text-layout2 {
    max-width: 980px;
    margin: 0 auto;
}
.bottom-border {
    border: 1px solid #ddd;
    width: 60%;
    margin: auto;
}
.contact-info a {
    color: #4f0854;
    font-size: 18px;
}
.model-text-layout2 {
    padding: 30px 0px;
}


/* Index new added code /*

/*index*/

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 11111;

}
.side-menu i {
    font-size: 30px;
    margin-left: 15px;
    position: relative;
    top: 6px;
}
.side-menu i {
    font-size: 30px;
    margin-left: 15px;
}
.side-menu i:hover {
    cursor: pointer;
}
@media only screen and (max-width: 767px) {
	.side-menu{display:none;}
}

.support-section img {
    height: 80px;
    padding: 12px;
    transition: 1s;
    object-fit: contain;
}

.support-section {
    text-align: center;
    padding-bottom: 80px;
}
.support-section img:hover {
    transform: scale(1.2);
    transition: 1s;
    cursor: pointer;
}

/*Side nav*/
.sidenav {
    height: 100vh;
    width: 300px;
    position: fixed;
    top: 0px;
    right: 0;
    background-color: #fffffff0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 10px;
    z-index: 1111111;
    border-top: 2px solid #c5bebe;
    border-left: 2px solid #eaeaea;
}

.sidenav a {
    padding: 8px 8px 8px 25px;
    text-decoration: none;
    font-size: 18px;
    color: #000000;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #2f2d2d;
    cursor: pointer;
}

.sidenav .closebtn {
    position: absolute;
    top: 0px;
    left: 10px;
    font-size: 30px;
}
.siderber-logo img {
    width: 45%;
    height: 60px;
}

.siderber-logo {
    text-align: center;
}
.sideber-menu-item {
    height: calc(100vh - 100px);
}
.sideber-menu-item-hover a:hover {
    background: #370a53;
    color: #ffff;
}
.sideber-socalicon ul li a {
    font-size: 20px;
}

.sideber-socalicon ul li a:hover {
    color: #320c53;
}
/*singup*/
.singup-section {
    margin: 85px 0 80px 0;
    padding: 60px 0px;
    background: url(../img/patten_360_250.jpg);
}

.singup-section-background {
    background: #fff;
    padding: 52px;
}

.singup-title h1 {
    color: #000;
    font-size: 50px;
    font-weight: 300;
    letter-spacing: -0.045em;
    margin-top: 0;
    font-family: 'Archivo Black', sans-serif;
    font-weight: 900 !important;
}

.singup-content h2 {
    font-size: 25px;
    font-weight: 300;
    margin-top: 20px !important;
    padding-top: 20px !important;
    position: relative !important;
    font-family: 'Archivo Black', sans-serif;
    font-weight: 900 !important;
}

button.btn.sing-in-button {
    padding-bottom: 8px !important;
    padding-top: 8px !important;
    padding-right: 30px;
    border: 2px solid #470d54 !important;
    border-radius: 0;
    font-weight: 600 !important;
    color: #fff !important;
    text-decoration: none;
    background-color: #470d54;
    cursor: pointer;
    display: inline-block;
    position: relative;
}

.singup-content h2:before {
    background-color: #c6c6c6 !important;
    content: "" !important;
    height: 2px !important;
    position: absolute !important;
    top: 0 !important;
    width: 40px !important;
}


/*signup-rider*/
.signup-rider{
    margin: 85px 0 80px 0;
    padding: 60px 0px;
}
.signup-wrapper {
    margin: 0 auto;
    width: 600px;
}
.stage {
  /*  margin: 100px auto 40px;*/
}
.stage .form-wrapper {
    margin: 0 auto;
    max-width: 440px;
}
.field__input:hover, .field__input:focus {
    box-shadow: inset 0 0 10px 0 rgb(85 85 85 / 10%);
    outline: 0;
}
.field__input {
    background-color: #ffffff;
    border: 1px solid #e5e5e4;
    color: #333;
    font-size: 14px;
    height: 52px;
    padding: 0 18px;
    transition: all 0.2s ease-out 0s;
    width: 100%;
}
.stage .inside-ion {
    color: #c6c6c6;
    position: absolute;
    right: 14px;
    top: 18px;
}
.text-input, .icon-input input, .select select {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #e5e5e4;
    border-radius: 0;
    color: #000000;
    font-size: 14px;
    margin-bottom: 24px;
    outline: medium none;
    padding: 8px 18px;
    width: 100%;
}

.select.select--xl {
    background: #f8f8f9 none repeat scroll 0 0;
    margin-bottom: 12px;
    position: absolute;
}
.float label {
    color: #717171;
    font-size: 11px;
    left: 18px;
    opacity: 0;
    position: absolute;
    top: 6px;
    transition: all 0.2s ease 0s;
    z-index: 1;
    font-weight: 500;
}
#mobile_country {
    border-right: 0 none !important;
    margin-bottom: 0;
    padding-right: 6px !important;
}
#select-title-stage {
    font-size: 14px;
    font-weight: 500;
    left: 0;
    opacity: 0.4;
    padding: 14px 12px;
    position: absolute;
    top: 0;
    transition: all 0.3s ease 0s;
    z-index: 1;
}
.two-char .select.select--xl select {
    text-indent: -1000px;
}
.select.select--xl select {
    min-height: 50px;
}
.select.select--xl select {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    font-size: 14px;
    min-height: 52px;
    padding: 0 12px;
    position: relative;
    z-index: 1;
}
.field {
    position: relative;
    right: 0;
}
.field--not-empty .field__label {
    opacity: 1;
    transform: none;
}
.first-name-field{
    position: absolute !important;
}
.field__label {
    color: #919293 !important;
    box-sizing: border-box;
    display: block;
    font-size: .8125em;
    line-height: 1;
    opacity: 0;
    overflow: hidden;
    padding: .5em 1em;
    pointer-events: none;
    position: absolute;
    text-overflow: ellipsis;
    top: 0;
    text-align: left;
    transform: translateY(3px);
    transition: all .2s ease-out;
    user-select: none;
    white-space: nowrap;
    width: 100%;
    z-index: 1;
}
.btn.btn--primary:hover {
    color: #fff !important;
}
.btn.btn--primary:hover {
    background-color: #330C53 !important;
    border-color: #330C53 !important;
}
.stage .signup-btn {
    color: #ffffff;
    background: #330C53 none repeat scroll 0 0 !important;
    border-color: #330C53 !important;
    font-weight: 600;
    line-height: 18px;
    text-transform: uppercase;
    font-size: 16px;
}
.float--left {
    float: left!important;
}
.btn--arrow .icon_right-arrow-thin {
    float: right;
}
.legal {
    font-size: 10.5px;
    letter-spacing: 0.02em;
    line-height: 18px;
}
.legal > a {
    color: #11939a;
}
.signup-top-text {
    margin-top: 20px;
    display: inline-block;
    width: 100%;
}
.signup-top-text h2 {
    font-family: 'Archivo Black', sans-serif;
    font-weight: 900 !important;
}
.mobile-container.two-char .number {
    width: 85%;
    position: relative;
    right: -65px;
}
.mobile-container.two-char #country {
    float: left;
    position: relative;
    width: 15%;
}
.filed-half {
    padding: 0;
}

.layout {
    list-style: outside none none;
    margin-left: 0;
    padding: 0;
}

#sign-up-link-only a {
    color: #11939a;
    text-decoration: none;
}
.small {
    font-size: 11px;
    font-size: 12px;
    line-height: 2.18182;
}
.input-group {
    position: relative;
    border-collapse: separate;
}
.filed-half {
    padding: 0;
}
.field {
    position: relative;
}
.push-small--bottom, .push-small--ends {
    margin-bottom: 24px!important;
}
#referral_code{
    color: #000000;
    height: 50px;
}

.error-border{
    background: #ffffff none repeat scroll 0 0 !important;
    border: 1px solid red !important;
    border-radius: 0 !important;
    color: #000000 !important;
    font-size: 14px !important;
    margin-bottom: 24px !important;
    outline: medium none !important;
    padding: 8px 18px !important;
    width: 100% !important;
    border-left: 1px solid red !important;
    border-top: 1px solid red !important;
}
.text-input, .icon-input input, .select select {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #e5e5e4;
    border-radius: 0;
    color: #000000;
    font-size: 14px;
    margin-bottom: 24px;
    outline: medium none;
    padding: 8px 18px;
    width: 100%;
}
.signup-top-text img {
    height: 60px;
    margin-bottom: 15px;
}

.signup-top-text {
    text-align: center;
}











/*rider sing in*/

.stage-wrapper.narrow {
    width: 550px;
    position: relative;
    z-index: 20;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.soft-tiny {
    padding: 12px !important;
}
.soft-tiny h4 {
    font-size: 2.4rem;
    line-height: 1.33333;
    margin-bottom: 20px;
    margin-top: 0;
    font-family: 'Archivo Black', sans-serif;
    font-weight: 900 !important;
}
.hide {
    display: none !important;
}
.btn--arrow {
    padding: 11px 20px !important;
    text-align: left;
}
.btn--full {
    width: 100%;
}
.blue-signin-btn {
    border: 2px solid #330C53;
    border-radius: 0;
    font-family: ff-clan-web-pro,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    outline: medium none;
    padding: 11px 20px;
    position: relative;
    text-transform: uppercase;
    background-color: #330C53;
    color: #ffffff;
    text-decoration: none;
}
#sign-up-link-only {
    margin-top: 24px !important;
    margin-bottom: 24px !important;
}
.or-text {
    font-size: 20px !important;
    margin-bottom: 16px !important;
    margin-top: 24px !important;
}
.black-btn {
    width: 100%;
    display: inline-block;
    margin-left: 0px;
    text-transform: uppercase;
    font-weight: bold;
    color: #FFF;
    background: #000 !important;
}
.violet-btn.btn-facebook {
    width: 100%;
    display: inline-block;
}
.violet-btn {
    background-color: #3b5998;
    border-color: #3b5998;
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 0;
    text-align: left;
    vertical-align: middle;
    white-space: nowrap;
    color: #fff;
    font-family: ff-clan-web-pro,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    outline: medium none;
    padding: 11px 20px;
    position: relative;
    text-transform: uppercase;
}
.white-btn.google-btn {
    width: 100%;
    display: inline-block;
    margin-left: 0px;
    text-transform: uppercase;
    font-weight: bold;
}
.btn--arrow {
    padding: 11px 20px !important;
    text-align: left;
}
.social-login .fa {
    font-size: 20px;
    vertical-align: text-bottom;
}
.btn--arrow .icon_right-arrow-thin {
    font-size: 1.4em;
    position: absolute;
    right: 20px;
    transition: margin 0.4s ease 0s;
}
.blue-signin-btn:hover, .blue-signin-btn:focus, .blue-signin-btn:active {
    background-color: #330C53;
    border-color: #330C53;
    color: #fff;
}
.email_phone-sec.social-login .btn:hover {
    color: #ffffff;
}



/*trems-service*/
.content-trems-service p {
    font-size: 11pt;
}
.content-trems-service h2 {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 30px;
}
.content-trems-service h5 {
    font-size: 16px;
    margin-bottom: 25px;
    font-weight: bold;
}


/*signup_driver*/
.layout--join.driver_banner_join {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    background-position: bottom left;
}
.join-page .layout__item.layout--join__left-item {
    margin-left: 40px !important;
    margin-right: 40px !important;
    width: 41.666% !important;
    float: left;
}
.join-page .bit {
    background-position: 50% 50% !important;
    display: block;
    height: 61px !important;
    padding: 18px !important;
    margin: 0;
    left: 0;
    background-repeat: no-repeat;
    width: 170px;
}
.join-page .driver_banner_join .layout__item.layout--join__hero-item {
    width: 350px !important;
}
.layout--join.driver_banner_join .layout {
    margin-left: 0 !important;
}
._style_3EKecM {
    background-color: #fff !important;
    border-color: #e5e5e4 !important;
    border-radius: 3px !important;
    border-style: solid !important;
    border-width: 2px !important;
    box-sizing: border-box !important;
    display: flex !important;
    flex-wrap: wrap !important;
    height: 36px !important;
    transition: all 0.4s ease 0s !important;
}
.driver-signup-form-join-legacy input._style_3vhmZK {
    line-height: 20px !important;
}
.join-page .push-tiny--bottom--legacy {
    margin-bottom: 12px !important;
}
.mobile-code .select.select--xl {
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0;
    left: 0;
    top: 0;
    z-index: 9;
}
.float label {
    color: #717171;
    font-size: 11px;
    left: 18px;
    opacity: 0;
    position: absolute;
    top: 6px;
    transition: all 0.2s ease 0s;
    z-index: 1;
    font-weight: 500;
}
#mobile_country {
    border-right: 0 none !important;
    margin-bottom: 0;
    padding-right: 6px !important;
}
.layout--join {
    background: url(image/become_dri.jpg) no-repeat bottom center;
    background-size: cover;
    padding: 40px !important;
    min-height: 650px;
}
.join-page .layout__item.layout--join__hero-item {
    background-color: #f1f1f1 !important;
    float: right;
    padding: 32px !important;
    position: relative !important;
    text-align: left;
    width: 324px !important;
}
._style_3vhmZK {
    background-color: transparent !important;
    box-sizing: border-box !important;
    color: #000 !important;
    flex-grow: 1 !important;
    font-family: ff-clan-web-pro,"Helvetica Neue",Helvetica,sans-serif !important;
    font-size: 13px !important;
    font-weight: 500 !important;
    line-height: 24px !important;
    margin-bottom: 0 !important;
    max-width: 100% !important;
    outline: 0 none !important;
    padding: 6px 10px !important;
    transition: all 0.4s ease 0s !important;
}

._style_3vhmZK {
    width: 100%;
    border-bottom: 1px solid #ddd;
    border: 1px solid #ddd !important;
}
.layout a.btn {
    margin: 20px auto !important;
    display: block;
}
.btn.btn--primary {
    background-color: #377037 !important;
    border-color: #377037 !important;
    padding: 7px 14px;
    border-radius: 0;
    border: 2px solid #377037;
    outline: 0;
    position: relative;
    font-size: 13px;
    line-height: 2.375;
    padding-top: 1px;
    padding-bottom: 4px;
    color: #fff;
    font-weight: bold;
}
.driver-signup-form-join-legacy input._style_3vhmZK {
    line-height: 20px !important;
}
.select.select--xl option {
    color: #000;
}
.mobile-code {
    display: flex;
}

.mobile-code .layout {
    position: relative;
    height: 100%;
    width: 100px;
}
.mobile-code #select-title-stage {
    padding: 6px 8px;
    position: inherit;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #ddd;
    border-right: none;
}
#select-title-stage {
    font-size: 14px;
    font-weight: 500;
    left: 0;
    opacity: 0.4;
    padding: 14px 12px;
    position: absolute;
    top: 0;
    transition: all 0.3s ease 0s;
    z-index: 1;
}

.float label {
    color: #717171;
    font-size: 11px;
    left: 18px;
    opacity: 0;
    position: absolute;
    top: 6px;
    transition: all 0.2s ease 0s;
    z-index: 1;
    font-weight: 500;
}
.legal {
    font-size: 10.5px;
    letter-spacing: 0.02em;
    line-height: 18px;
}
.autocomplete-input-container {
    max-width: 333px;
    width: 100%;
}
.autocomplete-input {
    text-align: center;
}
.driver-signup-form-join-legacy input._style_3vhmZK {
    line-height: 20px !important;
    border: 0px !important;
}
.layout > .layout__item {
    font-size: 14px;
}
ul.autocomplete-results.home_address {
    margin: 0px !important;
}
.three-section-join {
    position: relative;
    width: 100%;
    background: #ffffff;
}
.portable-space {
    padding: 52px 40px;
    margin-right: 40px !important;
    margin-left: 40px !important;
}
.sub-top {
     margin-top: 32px !important;
 }
.sub-top h4 {
    font-size: 25px;
    margin-bottom: 31px !important;
    margin-top: 0;
    font-family: 'Archivo Black', sans-serif;
    font-weight: 900 !important;
}
.top-section-sub-cont p {
    letter-spacing: 0.7px;
    line-height: 25px;
    font-size: 14px;
}