:root {
    --black: #000;
    --white: #fff;
    --primary: #470D54;
    --primary-dark: #E2C686;
    --primary-darker: #178a64;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Verdana', sans-serif;
}

a,
button {
    transition: 0.2s;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 38px;
}

.btn {
    font-weight: 600;
    font-size: 16px;
    padding: 10px 20px;
    text-transform: uppercase;
}

.btn-primary {
    color: var(--white);
    background: var(--primary);
    border-color: var(--primary);
}

.btn-primary:hover,
.btn-primary:focus {
    color: var(--white);
    background: var(--primary-dark);
    border-color: var(--primary-dark);
}

.btn-primary:active,
.btn-primary:active:focus {
    color: var(--white);
    background: var(--primary-darker);
    border-color: var(--primary-darker);
}

button:focus:not(:focus-visible), .accordion-button:not(.collapsed) {
            box-shadow: none;
            background: transparent;
            border-bottom: 1px solid #470D54;
            color: #470D54;
        }

.text-bold {
    font-weight: 600;
}

.section-space {
    padding: 80px 0;
}

/* Margin top */
.mt-0 {
    margin-top: 0px;
}

.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-50 {
    margin-top: 50px;
}

/* Margin bottom */

.mb-0 {
    margin-bottom: 0px;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-50 {
    margin-bottom: 50px;
}

